<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.julio.energiainteligente">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".service.MyFirebaseIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseMessaging">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.EsqueciMinhaSenhaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.dispositivos.EditarDispositivoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.dispositivos.NovaProgramacaoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.dispositivos.TipoNovaProgramacaoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Transparent" />
        <activity android:name=".ui.home.dispositivos.NovoAlertaActivity"></activity>
    </application>

</manifest>